.loader{
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../img/loader.gif);
  width: 16px;
  height: 16px;
  display: block;
}

.content {
  width: 100%;
  border: 0;
  overflow-y: auto;
  display: flex;
  align-items: center;
  height: 100vh;
}

.left .message {
  width: 100%;
  height: 10vh;
}

.left .chat {
  height: 90vh;
}

textarea#message{
  width: 90%;
  margin: 0;
  height: 90%;
}

button#send{
  position: absolute;
}
